<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954581748824-ecs06vbkp3t572j0ds0n2qmqtnnj8c9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954581748824-ecs06vbkp3t572j0ds0n2qmqtnnj8c9k</string>
	<key>API_KEY</key>
	<string>AIzaSyCR1PK7LFMwFP7_ZkNzsdwoLlBn3u7QLu0</string>
	<key>GCM_SENDER_ID</key>
	<string>954581748824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelmade.candystore</string>
	<key>PROJECT_ID</key>
	<string>candystore-fb2e3</string>
	<key>STORAGE_BUCKET</key>
	<string>candystore-fb2e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:954581748824:ios:6749b0c37add3f84fa8e2d</string>
</dict>
</plist>
